
.employee {
  display: flex;
  border-top: 1px solid rgb(255, 255, 255);
  padding: 10px;
  font-size: clamp(16pt,8vw, 22pt);
  justify-content: space-between;
  color: white;
}

.last {
  border-bottom:1px solid rgb(255, 255, 255);
}

.employee:hover {
  background: rgb(168, 168, 168);
}
